*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    FONT-FAMILY:"GeneralSans-Regular";
}

body,html {
    height: 100%;
    width:100%; 
}

#main{
    width: 100%;
} 

#hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
    color: white;
}

#nav{
    display: flex;
    width: 100%;
    height: 34px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding:20px 20px;
    /* background-color: white; */
}

#nav a{
    color: white;
    text-decoration:none;
    font-size: 17px;
}

#header {
    margin-top: 30px;
    margin-left: 40px;
}

#header h1{
    opacity: 0.4;
    font-size:9vw;
    text-transform: uppercase;
    line-height: 1;
}

 #header #sec-h1 {
   margin-left:100px
}



.block_text{
    width: fit-content;
   
   
}

.block_text h5{
    font-size: 2vw;
    text-transform: uppercase;
    line-height: 1;
     text-align: right;
     opacity: 0.4;
   
}

#chotuheading{
   padding-top: 100px;
   
   padding-right: 50px;
}


#chotuheading h5{
    font-size: 1.5vw;
    text-transform: uppercase;
    line-height: 1;
     text-align: right;
     opacity: 0.4;
   
}


#hero-footer{
      display: flex;
     justify-content: space-between;
    width: 100%;
     
     position: absolute;
     bottom: 2%;
    padding: 0 2vw;; 
    
}


#hero-footer a{
text-decoration: none;
    color: white;
    font-size: 17px;
}


#hero-footer #circleIcon{
    display: flex;
    gap: 4px;
}


#second{
    color: white;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color:black;
    padding-right: 10vw;
   
    
}

.elem{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:4vw 3vw;
    border-top: 1px solid #888;
    min-height: 12rem;
    align-items: center;
}

.elem h1{
    font-size: 4vw;
    text-transform: uppercase;
    opacity: 0.7;
}

.elem h5{
    font-size: 2vw;
    text-transform: uppercase;
    opacity: 0.7;
}
   .elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    z-index: 999;
    position: absolute;
   display:none;
    height: 140%;
}
#about{
   
    padding: 10vw 10vw;
    width: 100%;
    background-color: black;
      color: white;
      display: flex;
      gap: 10px;
      align-items: center;
      padding-left: 50vw;
     /* margin-top: 10px;
     display: flex; */
     /* align-items: center;
    justify-content: center; */
    /* width: 100%;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
    justify-content: center;
    align-items: center; */
   

}

#about img{
    
    width: 200px;
    /* height: 30vh; */
    
    border-radius:50% ;
   
}

.imageabout a{
  text-decoration: none;
  color: white;
  border: 1px solid gray;
  border-radius: 20px;
}


.imageabout{
    width: 25rem;
   
}

.imageabout h5{
    text-transform: uppercase;
    margin-bottom: 2%;
}
.imageabout p{
 line-height: 24px;
}

